.header-bg {
	background: url("../img/bgs/header-bg.jpg") no-repeat center bottom;
	background-size: cover;
}
.second-bg {
	background: #f5f6f7;

	.container {
		background: url("../img/bgs/second-bg.jpg") no-repeat right bottom;
		padding: 125px 0;

		@media (max-width: @screen-xs-max) {
			background-size: 50%;
			padding: 25px 0;
		}
	}
}

.third-bg {

	.container {
		background: url("../img/bgs/third-bg.jpg") no-repeat left bottom;
		padding: 125px 0 50px;

		@media (max-width: @screen-xs-max) {
			background: transparent;
			padding: 25px 0;
		}
	}
}

.fourth-bg {
	background: #f5f6f7;
	padding: 100px 0 125px;

	@media (max-width: @screen-xs-max) {
		padding: 25px 0;
	}
}

.subs-bg {
	background: url("../img/bgs/subscribe-bg.jpg") no-repeat center top;
	background-size: cover;

	.container {
		padding: 200px 0;

		@media (max-width: @screen-xs-max) {
			padding: 50px 0;
		}
	}
}

.download-bg {
	background: #f5f6f7;
	padding: 125px 0;

	@media (max-width: @screen-xs-max) {
		padding: 25px 0;
	}
}