.btn-main {
	.btn;
	background: @main;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 35px;
	.transition(all .8s linear);
	.ripple-out;

	&:before {
		border-color: @main;
		.transition(all 1s linear);
		.border-radius(4px);
	}

	&:hover,
	&:focus,
	&:active {
		color: white;
		background: @main-dark;
	}

	&:hover:before,
	&:focus:before,
	&:active:before {
		border-color: @main-dark;
	}
}