h1 {
	letter-spacing: 5px;
	margin-top: 200px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 36px;
	font-weight: bold;

	@media (max-width: @screen-xs-max) {
		margin-top: 100px;
	}
}

h3 {
	letter-spacing: 3px;
	text-align: center;
	color: white;
	font-size: 16px;
	margin-top: 15px;
}

.text-unit {
	.make-xs-column(12);
	.make-sm-column(6);
	.make-md-column(6);
	.make-lg-column(6);

	h2 {
		font-size: 20px;
		text-transform: uppercase;
		color: @main;
		font-weight: bold;
		margin-bottom: 25px;
		letter-spacing: 2px;
	}

	p {
		color: @black;
		line-height: 1.8;
		letter-spacing: 2px;
		font-size: 13px;
	}

	a {
		margin-top: 25px;
		.btn-main;
	}
}

.third-bg {

	.text-unit {
		float: right;
	}
}

.fourth-bg {

	.text-unit {
		.make-xs-column(12);
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(3);
		text-align: center;
		margin-top: 70px;
		padding-top: 65px;
		background: url("../img/bgs/menu-separator-color.png") no-repeat center top;

		@media (max-width: @screen-xs-max) {
			margin-top: 15px;
		}

		h2 {
			color: @black;
			font-size: 14px;
			margin-bottom: 15px;
		}
		p {
			letter-spacing: 1px;
			font-size: 12px;
			padding: 0 35px;
		}
	}

	.photos-wrapper {
		.make-xs-column(12);
		.make-sm-column(8);
		.make-md-column(8);
		.make-lg-column(9);

		.photo {
			.make-xs-column(6);
			.make-sm-column(4);
			.make-md-column(4);
			.make-lg-column(4);
			padding: 0;

			a {
				position: relative;
				display: block;

				.hover-content {
					position: absolute;
					background: rgba(55,55,55,0.4);
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					text-align: center;
					overflow: hidden;
					.transition(all .3s ease-out);

					p {
						margin-top: 25%;
						color: white;
						margin-bottom: 5px;
						font-size: 15px;
						text-transform: uppercase;
						font-weight: bold;
						position: relative;
						top: -150px;
						.transition(all .3s ease-out);
					}

					span {
						color: @main;
						font-weight: bold;
						font-size: 15px;
						position: relative;
						top: 150px;
						.transition(all.3s ease-out);
					}
				}

				&:hover {

					.hover-content {
						background: rgba(55,55,55,0.8);

						p, span {
							top: 0;
						}
					}
				}

				img {
					.img-responsive;
				}
			}
		}
	}
}

.subs-bg {
	text-align: center;

	h2 {
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}

	input[type="submit"] {
		.btn;
		.border-radius(0 4px 4px 0);
		background: url("../img/bgs/button-bg.jpg") center 60px;
		width: 53px;
		height: 53px;
		position: relative;
		top: 14px;
		left: -18px;
		.transition(all .3s linear);

		&:hover, &:focus {
			background: url("../img/bgs/button-bg.jpg") center -5px;
		}
	}
}

.download-bg {
	text-align: center;

	.text-unit {
		display: inline-block;
		text-align: center;
		float: none;
		width: 75%;

		@media (max-width: @screen-xs-max) {
			width: 100%;
		}

		h2 {
			color: @black;
		}

		p {
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	.links-wrapper {
		margin-top: 35px;

		a {
			.btn;
			color: white;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 1px;
			padding: 15px 95px 15px 45px;
			font-weight: bold;
			.transition(all .3s linear);

			@media (max-width: @screen-xs-max) {
				width: 100%;
			}

			&:hover {
				color: white;
			}

			&:first-child {
				margin-right: 20px;

				@media (max-width: @screen-xs-max) {
					margin: 0 0 15px;
				}
			}

			&.apple-store {
				background: url("../img/bgs/apple-bg.jpg") no-repeat right -10px;
				background-color: @main;

				&:hover {
					background: url("../img/bgs/apple-bg.jpg") no-repeat right -63px;
					background-color: @main;
				}
			}
			&.play-store {
				background: url("../img/bgs/android-bg.jpg") no-repeat right -10px;
				background-color: @main;

				&:hover {
					background: url("../img/bgs/android-bg.jpg") no-repeat right -63px;
					background-color: @main;
				}
			}
		}
	}
}

.swiper {
	margin-top: 30px;

	.quote {

		h4 {
			color: @black;
			font-weight: bold;

			small {
				color: #6e6e6e;
				font-style: italic;
				letter-spacing: 1px;

				&:before {
					content: " - ";
				}
			}
		}

		p {
			color: #6e6e6e;
			letter-spacing: 1px;

			i {
				font-size: 10px;
			}
		}
	}

	.owl-nav {
		text-align: left;

		> div {
			background: transparent !important;
			color: #6e6e6e !important;
			font-size: 30px !important;
			margin-top: 0 !important;
			padding-top: 0 !important;

			&.owl-prev {
				margin-left: 0 !important;
				padding-left: 0 !important;
			}
		}
	}
}