.footer {
	padding: 50px 0 30px;

	.container {
		background: url("../img/bgs/menu-separator-color.png") no-repeat right center;

		@media (max-width: @screen-xs-max) {
			background-size: 10%;
			background-position: right 15px bottom;
		}
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			padding: 0 10px;
			border-left: 2px solid @main;
			display: inline-block;
			text-transform: uppercase;
			line-height: 1.2;

			&:first-child {
				padding-left: 0;
				border: 0;
			}

			a {
				font-size: 13px;
				font-weight: bold;
				color: @black;
				letter-spacing: 1px;
				border-bottom: 2px solid transparent;
				.transition(all .2s ease-out);

				&:hover, &:focus {
					text-decoration: none;
					border-color: @main;
				}
			}
		}
	}

	p {
		margin-top: 20px;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 1px;
		color: #acacac;
	}
}