@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext");

*{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'Open sans', sans-serif;
	height: 100%;
}

body {
	position: relative;
}

/* start of sticky footer */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@pushHeight;
}

footer, .push {
	height: @pushHeight; 
}
/* end of sticky footer */

/* placeholders default color */
&::-webkit-input-placeholder {
	color: @placeholderColor;
}

&:-moz-placeholder { /* Firefox 18- */
	color: @placeholderColor;  
}

&::-moz-placeholder {  /* Firefox 19+ */
	color: @placeholderColor;  
}

&:-ms-input-placeholder {  
	color: @placeholderColor;  
}

