.header-bg {
	text-align: center;

	.btn-main {
		margin-top: 15px;
		margin-bottom: 200px;

		@media (max-width: @screen-xs-max) {
			margin-bottom: 100px;
		}
	}

	.social {
		margin-bottom: 25px;

		li {
			display: inline-block;
			margin: 0 10px;

			a {
				display: inline-block;
				color: white;
				.wobble-vertical;
				.transition(all .2s linear);

				i {
					font-size: 30px;
				}

				&:hover {
					color: @main;
				}
			}
		}
	}
}
.menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 10000;
	height: 150px;
	overflow: hidden;
	.transition(all .3s linear);

	@media (max-width: @screen-xs-max) {
		position: static;
		height: auto;
	}

	&.menu-wrapper-shrink {
		height: 67px;
		background: rgba(0,0,0,0.7);

		@media (max-width: @screen-md-max) {
			height: 57px;
		}

		@media (max-width: @screen-md-max) {
			height: 54px;
		}

		#main-menu {

			.nav {
				margin: 10px 0 5px;

				li {
					margin: 0 50px;

					@media (max-width: @screen-md-max) {
						margin: 0 30px;
					}

					@media (max-width: @screen-sm-max) {
						margin: 0 20px;
					}

					&.divider {

						span {
							width: 40px;
							height: 42px;
							top: -30px;

							@media (max-width: @screen-md-max) {
								top: -25px;
							}
						}
					}
				}
			}
		}
	}

	#main-menu {
		text-align: center;

		@media (max-width: @screen-xs-max) {
			width: 100%;
			margin: 0;
		}

		.nav {
			display: inline-block;
			margin-top: 50px;
			.transition(all .3s linear);

			@media (max-width: @screen-xs-max) {
				margin-top: 10px;
				margin-bottom: 0;
			}

			li {
				display: inline-block;
				margin: 0 30px;
				.transition(all .3s linear);

				@media (max-width: @screen-sm-max) {
					margin: 0 15px;
				}

				@media (max-width: @screen-xs-max) {
					display: block;
					margin-bottom: 5px;
				}

				a {
					display: inline-block;
					font-size: 18px;
					color: white;
					text-transform: uppercase;
					.border-radius(6px);
					border: 1px solid transparent;
					.transition(all .2s linear);
					padding: 8px 15px;

					&:hover, &:focus {
						background-color: transparent;
						border: 1px solid white;
					}

					@media (max-width: @screen-md-max) {
						font-size: 16px;
						padding: 5px 10px;
					}

					@media (max-width: @screen-sm-max) {
						font-size: 12px;
					}

					@media (max-width: @screen-xs-max) {
						font-size: 16px;
						padding: 8px 20px;
					}
				}

				&.active {

					a {
						background-color: transparent;
						border: 1px solid white;
					}
				}

				&.divider {
					position: relative;
					width: 53px;
					margin: 0 50px;

					@media (max-width: @screen-xs-max) {
						display: none;
					}

					span {
						display: block;
						background: url("../img/bgs/menu-separator.png") no-repeat center;
						background-size: contain;
						width: 53px;
						height: 55px;
						position: absolute;
						top: -45px;
						.transition(all .3s linear);

						@media (max-width: @screen-sm-max) {
							width: 40px;
							height: 43px;
							top: -35px;
						}
					}
				}
			}
		}
	}
}

.navbar-toggle {
	border: 1px solid white;
	margin-top: 20px;

	span {
		background: white;
	}
}