//Colors
@backgroundColor: #f4f5f6;
@footerBackgroundColor: #44474b;
@defaultTextColor: #404040;
@placeholderColor: #677274;
@main: #16a085;
@main-dark: #09826a;
@black: #373737;

//Paths
@urlIcons: "../images/icons/icons.png";
@urlSocials: "../images/icons/socials.png";
@fa-font-path: "../fonts"; // path for Fontawesome icons
@icon-font-path: "../fonts/"; // path for Bootstrap (Glyphicons) icons

//Other
@pushHeight: 155px;
